In [46]:
import xml.etree.ElementTree as ET
import pyodbc
from pyodbc import Error


dt_dict = {
    'int' : 'integer',
    'nvarchar' : 'character',
    'date' : 'date',
    'smallint' : 'smallint',
    'tinyint' : 'smallint',
    'datetime' : 'timestamp without time zone',
    'time' : 'timestamp without time zone'
}


tree = ET.parse('config.xml')
root = tree.getroot()
db_cred=''
source_t = '''SELECT COLUMN_NAME, DATA_TYPE, CHARACTER_MAXIMUM_LENGTH 
                FROM %(db_name)s.INFORMATION_SCHEMA.COLUMNS where TABLE_SCHEMA='%(s_name)s' and TABLE_NAME='%(t_name)s' '''
source_t_r = '''SELECT COUNT(*)
                FROM %(db_name)s.INFORMATION_SCHEMA.COLUMNS where TABLE_SCHEMA='%(s_name)s' and TABLE_NAME='%(t_name)s' '''
q_create_target_db= '''create database %(db_name)s'''
for sourse in root:
    #print(sourse.tag, sourse.attrib)

    for db_name in sourse:

        if db_name.tag=='cred' :
            db_cred=db_name.text
        if db_name.tag=='target' :
            db_cred_target_all=db_name.text
            db_cred_target_first=db_cred_target_all + 'Database=' + db_name.attrib['db_default']
            #print('Target DB: ',db_cred_target_first)
            try:
                t_conn = pyodbc.connect(db_cred_target_first, autocommit=True)
                cursor_targer = t_conn.cursor()
                cursor_targer.execute('select 1')
                print("Connection success to target DB: ", db_name.attrib['db_default'],'')
            except (Exception, Error) as error:
                print("Error connection! ", error)

        if db_name.tag=='DB' :
            #print(db_name.tag, db_name.attrib)
            #db_cred = db_cred + 'Database=' + db_name.attrib['name']
            #print('Sourse DB: ',db_cred)

            try:
                d_conn = pyodbc.connect(db_cred)
                print("Connection success to sourse DB: ", db_name.attrib['name'], '\n')
            except (Exception, Error) as error:
                print("Error connection! ", error) 

            #print('Creating DB in Target')
            cursor_targer = t_conn.cursor()
            target_db=(db_name.attrib['name']).lower()
            q_create_db= 'CREATE DATABASE ' + target_db + ' OWNER for_py1;'
            #print('',q_create_db)
            cursor_targer.execute(q_create_db)

            db_cred_target=db_cred_target_all + 'Database=' + target_db
            #print(db_cred_target)
            t_conn2 = pyodbc.connect(db_cred_target, autocommit=True)
            cursor_targer2 = t_conn2.cursor()
            cursor_targer2.execute('select 1')

            for s_name in db_name :
                #print('\n',s_name.tag, s_name.attrib)
                #print('\n','Creating schema')
                q_create_sc='CREATE SCHEMA ' + s_name.attrib['name'] + ' AUTHORIZATION for_py1;'
                #print(q_create_sc)
                cursor_targer2.execute('select 1')
                cursor_targer2.execute(q_create_sc)
                for t_name in s_name :
                    print(t_name.tag, t_name.attrib)
                    print('Getting inform sourse.\n')
                    t_name_param = {
                        'db_name' : db_name.attrib['name'] ,
                        's_name' : s_name.attrib['name'] ,
                        't_name' : t_name.attrib['name'] 
                    }

                    source_t_q = source_t % t_name_param
                    #print(source_t_q)

                    cursor_t_r= d_conn.cursor()
                    source_t_rс = source_t_r % t_name_param
                    cursor_t_r.execute(source_t_rс)
                    nof = cursor_t_r.fetchone()[0]

                    cursor_t = d_conn.cursor()
                    cursor_t.execute(source_t_q)
                    

                    create_table_q='CREATE TABLE ' + db_name.attrib['name'] + '.' + s_name.attrib['name'] + '.' + t_name.attrib['name'] + ' ('
                    cnof=0
                    for i in cursor_t:
                        cnof=cnof+1
                        print(i)
                        print(i.COLUMN_NAME)
                        print(i.DATA_TYPE,' ',dt_dict[i.DATA_TYPE])
                        print(i.CHARACTER_MAXIMUM_LENGTH)
                        create_table_q = create_table_q + '\n' + i.COLUMN_NAME + ' ' + dt_dict[i.DATA_TYPE]
                        f_len=''
                        if i.CHARACTER_MAXIMUM_LENGTH != None :
                            f_len = f_len + '('+ str(i.CHARACTER_MAXIMUM_LENGTH) + ')'
                        if cnof<nof:
                            f_len = f_len + ','
                        
                        create_table_q = create_table_q + f_len
                    create_table_q = create_table_q + '\n);'
                    
                    print(create_table_q)
                    cursor_targer2.execute(create_table_q)

            db_cred=''

Connection success to target DB:  postgres
Connection success to sourse DB:  db_demo_sdbo

table {'name': 'CSV_CAL'}
Getting inform sourse.

('DATE_ID', 'date', None)
DATE_ID
date   date
None
('DATE_YEAR_MONTH', 'nvarchar', 7)
DATE_YEAR_MONTH
nvarchar   character
7
('DATE_WORKDAY_FLAG', 'nvarchar', 1)
DATE_WORKDAY_FLAG
nvarchar   character
1
('DATE_DAY_NUM', 'tinyint', None)
DATE_DAY_NUM
tinyint   smallint
None
('DATE_YEAR', 'smallint', None)
DATE_YEAR
smallint   smallint
None
('DATE_MONTH_NAME', 'nvarchar', 5)
DATE_MONTH_NAME
nvarchar   character
5
('DATE_WEEK_DAY_NAME', 'nvarchar', 2)
DATE_WEEK_DAY_NAME
nvarchar   character
2
('DATE_WEEK', 'tinyint', None)
DATE_WEEK
tinyint   smallint
None
('DATE_DEC', 'nvarchar', 2)
DATE_DEC
nvarchar   character
2
('DATE_Q', 'nvarchar', 2)
DATE_Q
nvarchar   character
2
('DATE_HY', 'nvarchar', 2)
DATE_HY
nvarchar   character
2
('DATE_YQ', 'nvarchar', 7)
DATE_YQ
nvarchar   character
7
('DATE_YW', 'nvarchar', 7)
DATE_YW
nvarchar   character
7
('DATE_OTH', 'nvarchar', 1)
DATE_OTH
nvarchar   character
1
CREATE TABLE db_demo_sdbo.dbo.CSV_CAL (
DATE_ID date,
DATE_YEAR_MONTH character(7),
DATE_WORKDAY_FLAG character(1),
DATE_DAY_NUM smallint,
DATE_YEAR smallint,
DATE_MONTH_NAME character(5),
DATE_WEEK_DAY_NAME character(2),
DATE_WEEK smallint,
DATE_DEC character(2),
DATE_Q character(2),
DATE_HY character(2),
DATE_YQ character(7),
DATE_YW character(7),
DATE_OTH character(1)
);
table {'name': 'CSV_CLIENT'}
Getting inform sourse.

('CL_ID', 'nvarchar', 50)
CL_ID
nvarchar   character
50
('CL_NAME', 'nvarchar', 100)
CL_NAME
nvarchar   character
100
('CL_SEGMENT', 'nvarchar', 20)
CL_SEGMENT
nvarchar   character
20
('CL_DATE_START', 'date', None)
CL_DATE_START
date   date
None
('CL_DATE_END', 'date', None)
CL_DATE_END
date   date
None
CREATE TABLE db_demo_sdbo.dbo.CSV_CLIENT (
CL_ID character(50),
CL_NAME character(100),
CL_SEGMENT character(20),
CL_DATE_START date,
CL_DATE_END date
);
table {'name': 'CSV_COMMENT'}
Getting inform sourse.

('S_ID', 'nvarchar', 50)
S_ID
nvarchar   character
50
('COM_MARK', 'tinyint', None)
COM_MARK
tinyint   smallint
None
('COM_TEXT', 'nvarchar', 100)
COM_TEXT
nvarchar   character
100
CREATE TABLE db_demo_sdbo.dbo.CSV_COMMENT (
S_ID character(50),
COM_MARK smallint,
COM_TEXT character(100)
);
table {'name': 'CSV_SER_SPR'}
Getting inform sourse.

('SER_ID', 'nvarchar', 50)
SER_ID
nvarchar   character
50
('SER_NAME', 'nvarchar', 100)
SER_NAME
nvarchar   character
100
('SER_DATE_START', 'date', None)
SER_DATE_START
date   date
None
CREATE TABLE db_demo_sdbo.dbo.CSV_SER_SPR (
SER_ID character(50),
SER_NAME character(100),
SER_DATE_START date
);
table {'name': 'CSV_SERVICE'}
Getting inform sourse.

('S_ID', 'nvarchar', 50)
S_ID
nvarchar   character
50
('SER_ID', 'nvarchar', 50)
SER_ID
nvarchar   character
50
('SER_STATUS', 'nvarchar', 50)
SER_STATUS
nvarchar   character
50
('SER_UNIC', 'nvarchar', 50)
SER_UNIC
nvarchar   character
50
CREATE TABLE db_demo_sdbo.dbo.CSV_SERVICE (
S_ID character(50),
SER_ID character(50),
SER_STATUS character(50),
SER_UNIC character(50)
);
table {'name': 'CSV_SESSION'}
Getting inform sourse.

('DATE_ID', 'date', None)
DATE_ID
date   date
None
('U_ID', 'nvarchar', 50)
U_ID
nvarchar   character
50
('S_ID', 'nvarchar', 50)
S_ID
nvarchar   character
50
('SYS_ID', 'nvarchar', 50)
SYS_ID
nvarchar   character
50
('S_TIME_START', 'time', None)
S_TIME_START
time   timestamp without time zone
None
('S_END_TYPE2', 'nvarchar', 50)
S_END_TYPE2
nvarchar   character
50
('S_TIME_DURATION', 'time', None)
S_TIME_DURATION
time   timestamp without time zone
None
('S_FD_FLAG', 'nvarchar', 1)
S_FD_FLAG
nvarchar   character
1
CREATE TABLE db_demo_sdbo.dbo.CSV_SESSION (
DATE_ID date,
U_ID character(50),
S_ID character(50),
SYS_ID character(50),
S_TIME_START timestamp without time zone,
S_END_TYPE2 character(50),
S_TIME_DURATION timestamp without time zone,
S_FD_FLAG character(1)
);
table {'name': 'CSV_SYSTEM'}
Getting inform sourse.

('SYS_ID', 'nvarchar', 50)
SYS_ID
nvarchar   character
50
('SYS_NAME', 'nvarchar', 20)
SYS_NAME
nvarchar   character
20
('SYS_TYPE', 'nvarchar', 20)
SYS_TYPE
nvarchar   character
20
CREATE TABLE db_demo_sdbo.dbo.CSV_SYSTEM (
SYS_ID character(50),
SYS_NAME character(20),
SYS_TYPE character(20)
);
table {'name': 'CSV_TIME_MAP'}
Getting inform sourse.

('TM_TIME_DIAP', 'nvarchar', 17)
TM_TIME_DIAP
nvarchar   character
17
('S_TIME_START', 'time', None)
S_TIME_START
time   timestamp without time zone
None
('TM_TIME_DIAP_F', 'time', None)
TM_TIME_DIAP_F
time   timestamp without time zone
None
('TM_TIME_DIAP_L', 'time', None)
TM_TIME_DIAP_L
time   timestamp without time zone
None
('TM_ORDER', 'tinyint', None)
TM_ORDER
tinyint   smallint
None
('TM_TIME_DIAP_M', 'nvarchar', 2)
TM_TIME_DIAP_M
nvarchar   character
2
CREATE TABLE db_demo_sdbo.dbo.CSV_TIME_MAP (
TM_TIME_DIAP character(17),
S_TIME_START timestamp without time zone,
TM_TIME_DIAP_F timestamp without time zone,
TM_TIME_DIAP_L timestamp without time zone,
TM_ORDER smallint,
TM_TIME_DIAP_M character(2)
);
table {'name': 'CSV_USER'}
Getting inform sourse.

('U_ID', 'nvarchar', 10)
U_ID
nvarchar   character
10
('CL_ID', 'nvarchar', 10)
CL_ID
nvarchar   character
10
('U_LOGIN', 'nvarchar', 10)
U_LOGIN
nvarchar   character
10
CREATE TABLE db_demo_sdbo.dbo.CSV_USER (
U_ID character(10),
CL_ID character(10),
U_LOGIN character(10)
);